@{
    ViewData["Title"] = "首頁";
    Layout = "_LayoutAdmin";
}

<section>
    <section class="box_hd">
        <h2 class="title">關於科達</h2>
    </section>
    <section class="box_bd">
        <article class="Txt clearfix">
            <p> 科達製藥股份有限公司創立於1980年，廠區位於桃園平鎮工業區，是專業的GMP濃縮中藥廠，也是台灣唯一擁有三項ISO認證的中藥廠；分別為： </p>
            <p>(一)製程符合國際ISO9001驗證</p>
            <p>(二)檢驗中心也通過ISO/IEC/17025TAF認證</p>
            <p>(三)符合ISO14064溫室氣體盤查。為精進品質，廠內每年設立品質改善目標獎項，同時透過外部驗證，近年已獲政府頒發第23屆國家品質獎、第11屆國家磐石獎、第7屆工業精銳獎等國家型獎項榮譽。</p>
            <p>科達製藥以中草藥濃縮、純化及萃取技術，發展科學濃縮中藥、健康食品及發展安心藥材飲片、藥膳等系列產品。製造散、丸、軟膏、顆粒、膠囊、錠劑等劑型。並供應中藥材飲片、可供食品、化妝品添加的中草藥萃取原料及精油等，銷售國內市場及外銷全球15個國家。科達製藥擁有衛福部中醫藥司核可之科學濃縮中藥藥證七百餘張，所生產的科學濃縮中藥被台灣大型醫院中醫部及中醫院所採用率達80%以上。成份均一，效果確實深獲中醫藥界及消費者肯定。
            </p>
            <p>科達設有研發中心及實驗工廠，提供原料端到產品設計、開發及製造的全程服務。項目包含中藥原料萃取、純化、中藥製劑製造、天然化妝品設計開發、一般保健食品設計開發及健字號健康食品認證申請與製造等合作。
                為掌握從最上游的藥材來源到店頭階段的產品品質，科達發展出兼具藥材源頭掌控與製程管控的品質管理機制。</p>
            <p>為了有效掌握藥材品質，科達製藥不僅深入產地，進行源頭管理，更建立全國第一「安心藥材溯源平台」，包裝飲片上透過QR Code公開藥材產地與藥材檢驗資訊。
                在｢顧客關係｣上，為了保障用藥安全，科達製藥自行研發第一套「中藥調劑檢核系統」，此系統除了避免調劑出錯，並且可有效管控調劑作業時間，並且根據調劑量錯誤記錄報表，針對每一位調劑人員常犯的錯誤，進行矯正預防訓練，逐步調整作業習慣，可有效縮短病人等待調劑時間，提高中醫院所的服務品質，讓國人用藥安全獲得更多保障。
            </p>

            <p><img src="@Url.Content("~/images/Home/abkd02.jpg")" class="img-fluid"></p>
            <p>科達承襲自千年累積下來的珍貴經驗與祖先智慧，持續秉持「科學、誠信、創新」的經營理念，透過現代化高科技製藥設備的全面控管，致力使現代中藥能更符合安全性、均一性、有效性之三項訴求。</p>
        </article>
    </section>
</section>