@{
    ViewData["Title"] = "履歷流程";
}

<div class="container-fluid">
    <div class="py-2">
        <div class="card border-secondary card-size-max">
            <div class="card-header bg-secondary text-white">
                <div>
                    <div class="float-start">
                        <h5>
                            @ViewData["Title"]
                        </h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <img src="@Url.Content("~/images/Official/flow/QRCodeFlow.jpg")" alt="履歷流程 QR Code"
                    style="display: block;  margin: auto;" class="img-fluid" />
            </div>
        </div>
    </div>
</div>