@{
    ViewData["Title"] = "檢驗中心";
}

<div class="container-fluid">
    <div class="py-2">
        <div class="card border-secondary card-size-max">
            <div class="card-header bg-secondary text-white">
                <div>
                    <div class="float-start">
                        <h5>
                            @ViewData["Title"]
                        </h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <img src="@Url.Content("~/images/WebForm/rdlab.jpg")" alt="檢驗中心" style="display: block;  margin: auto;"
                    class="img-fluid" />
            </div>
        </div>
    </div>
</div>